target
out
node_modules
*.iml
*.idea
*.shadow-cljs
.cpcache
.progect
.settings
resources/public/js
classest
/package.json
/package-lock.json

.DS_Store
/plugins/
/platforms/
/www/js
.clj-kondo
.#*
\#*\#
*~
.lsp
.nrepl-port
