{:deps    {org.clojure/clojure       {:mvn/version "1.11.1"}
           org.clojure/clojurescript {:mvn/version "1.11.121"}
           org.clojure/core.async    {:mvn/version "1.6.681"}
           cljs-ajax/cljs-ajax       {:mvn/version "0.8.4"}
           re-frame/re-frame         {:mvn/version "1.4.2"}
           reagent/reagent           {:mvn/version "1.2.0"}
           metosin/reitit-frontend   {:mvn/version "0.7.0-alpha7"}
           kibu/pushy                {:mvn/version "0.3.8"}}
 :paths   ["src" "resources" "modules/src" "template"],
 :aliases {:jar      {:extra-paths ["resources"]
                      :extra-deps  {luchiniatwork/cambada {:mvn/version "1.0.5"}},
                      :main-opts   ["-m" "cambada.jar"
                                    "-m" "lambda.core"
                                    "-m" "--copy-source "]},
           :shadow-cljs  {:main-opts ["-m" "shadow.cljs.devtools.cli"]
                          :extra-deps
                          {thheller/shadow-cljs {:mvn/version "2.26.5"}}}
           :dev      {:extra-paths ["test/clj" "test/cljs"]
                      :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}}}
           :test     {:extra-paths ["test/clj" "test/cljs"],
                      :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}}},
           :unit     {:extra-paths ["test/clj" "test/cljs"]
                      :extra-deps  {lambdaisland/kaocha {:mvn/version "1.87.1366"}},
                      :main-opts   ["-m" "kaocha.runner", "unit"]}
           :it       {:extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}},
                      :main-opts  ["-m" "kaocha.runner", "it"]}
           :readme   {:extra-paths ["target/src"]
                      :extra-deps  {alpha-prosoft/readme {:mvn/version "1.7"}}
                      :main-opts   ["-m" "seancorfield.readme"]}
           :zip {:main-opts ["-m" "edd.bootstrap" "package-project"]}}}
