#
# localhost.cnf
#

[ req ]
prompt = no
distinguished_name = server_distinguished_name
req_extensions = v3_req

[ server_distinguished_name ]
commonName = localhost.${DOMAIN}
stateOrProvinceName = Wien
countryName = AU
organizationName = LOCAL
organizationalUnitName = Development

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.0 = localhost.${DOMAIN}
DNS.1 = localhost
DNS.2 = 127.0.0.1
DNS.3 = 127.0.0.1:3000
DNS.4 = 127.0.0.1:3001
DNS.5 = 127.0.0.1:8080
DNS.6 = localhost.${DOMAIN}:3000
DNS.7 = localhost.${DOMAIN}:3001
