*.dir-locals.el
*.idea
*.iml
*.shadow-cljs
.*.~undo-tree~
.*~
#*#
.calva
.clj-kondo/.cache/
.cpcache
.lsp/
.m2/
.nrepl-port
.project
.settings
/bck_package.json
/linux-install-1.10.1.492.sh
/package.scripts..json
/repl.sh
/resources/public/config.json
/resources/public/config.json.dev04
/resources/public/config.json.test01
classes
ext/myCA/**
node_modules
npm-debug*
package-lock.json
package.json
resources/public/js

www/js
target
.m2/
.lsp
.calva
.clj-kondou
.#*
\#*\#
*~
.clj-kondo
Notes.org

