{:deps   true
 :nrepl  {:port 3333}
 :builds {:app
          {:target     :browser
           :output-dir "www/js"
           :asset-path "/js"
           :modules    {:main {:entries [projectname.core]}}
           :js-options {:entry-keys ["module" "browser" "main"]}
           :compiler-options
           {:infer-externs    :auto
            :closure-warnings {:global-this :off}}
           :devtools   {:after-load   projectname.core/init
                        :http-root    "www"
                        :http-port    3000
                        :preloads     [devtools.preload
                                       day8.re-frame-10x.preload]}
           :dev
           {:compiler-options
            {:closure-defines
             {re-frame.trace.trace-enabled?        true
              day8.re-frame.tracing.trace-enabled? true}}}
           :release    {:compiler-options {:optimizations :advanced}}}
          :devcards
          {:target     :browser
           :output-dir "resources/public/js/devcards"
           :asset-path "/js/devcards"
           :modules    {:main {:entries [projectname.devcards]}}
           :devtools   {:http-port        3001
                        :http-root        "www"
                        :push-state/index "devcards.html"
                        :after-load       projectname.devcards/init}
           :dev        {:compiler-options {:devcards true}}}}}
